﻿@using Microsoft.AspNet.Identity
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Menu"></i></li>
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i> <span>Home</span></a></li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-cart5"></i> <span>Transaksi</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Create", "PengakuanPendapatan")">Pengakuan Pendapatan</a></li>
                                <li><a href="@Url.Action("Index", "PengakuanPendapatan")">List Pengakuan Pendapatan</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-paperplane"></i> <span>Posting</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "PostingKeuangan")">Posting Keuangan</a></li>
                                <li><a href="@Url.Action("Cancel", "PostingKeuangan")">Cancel Posting Keuangan</a></li>
                            </ul>
                        </li>
                        <li><a href="#" onclick="alertpopup('Comming Soon !', 'info');"><i class="icon-gear"></i> <span>Setup Awal</span></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>