﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pengakuan Pendapatan</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Tanggal" class="form-control all-readonly" />
                        <input type="hidden" name="Jam" class="form-control all-readonly" />
                        <input type="hidden" name="Posting" class="form-control all-readonly" />
                        <input type="hidden" name="Batal" class="form-control all-readonly" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Pengakuan</label>
                                    <div class="col-md-5">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="Tanggal_Jam" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Transaksi</label>
                                    <div class="col-md-5">
                                        <input type="text" name="NoInvoice" class="form-control all-readonly" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="TglTransaksi" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Reg</label>
                                    <div class="col-md-5">
                                        <input type="text" name="NoReg" class="form-control all-readonly" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="TglReg" class="form-control all-readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama Pasien</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NamaPasien" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Jenis Kerjasama</label>
                                    <div class="col-md-4">
                                        <input type="text" name="JenisKerjasama" class="form-control all-readonly" />
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" name="Nama_Customer" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Kartu</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoKartu" class="form-control all-readonly" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#pendapatan" aria-controls="home" role="tab" data-toggle="tab">Pendapatan</a></li>
                                <li role="presentation"><a href="#tunai" aria-controls="profile" role="tab" data-toggle="tab">Tunai</a></li>
                                <li role="presentation"><a href="#piutang" aria-controls="profile" role="tab" data-toggle="tab">Piutang</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="pendapatan" class="tab-pane active">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailPendapatan">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:100px;">No Bukti Jurnal</td>
                                                            <td style="width:100px;">Akun No</td>
                                                            <td style="width:100px;">Akun Name</td>
                                                            <td style="width:100px;">Debet</td>
                                                            <td style="width:100px;">Kredit</td>
                                                            <td style="width:100px;">Keterangan</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot></tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tunai" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailTunai">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:100px;">No Bukti Jurnal</td>
                                                            <td style="width:100px;">Akun No</td>
                                                            <td style="width:100px;">Akun Name</td>
                                                            <td style="width:100px;">Debet</td>
                                                            <td style="width:100px;">Kredit</td>
                                                            <td style="width:100px;">Keterangan</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot></tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="piutang" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailPiutang">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:100px;">Customer</td>
                                                            <td style="width:100px;">Nilai Piutang</td>
                                                            <td style="width:100px;">Keterangan</td>
                                                            <td style="width:100px;">Akun AR</td>
                                                            <td style="width:100px;">No Bukti AR</td>
                                                            <td style="width:100px;">Tgl Closing</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>

                    <button type="button" class="btn-custom btn btn-success hide" onclick="posting('POSTING')"><i class="icon-paperplane position-left"></i> POSTING</button>
                    <button type="button" class="btn-custom btn btn-danger hide" onclick="posting('CANCEL')"><i class="icon-notification2 position-left"></i> CANCEL POSTING</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Jam'].value = r.Data.Jam;
                    t['TglTransaksi'].value = r.Data.TglTransaksi;
                    t['NoReg'].value = r.Data.NoReg;
                    t['TglReg'].value = r.Data.TglReg;
                    t['NamaPasien'].value = r.Data.NamaPasien;
                    t['JenisKerjasama'].value = r.Data.JenisKerjasama;
                    t['Nama_Customer'].value = r.Data.Nama_Customer;
                    t['NoKartu'].value = r.Data.NoKartu;
                    t['NoInvoice'].value = r.Data.NoInvoice;
                    t['Batal'].value = r.Data.Batal;
                    t['Posting'].value = r.Data.Posting;

                    // detail
                    $(t).find('.detailPendapatan tbody').html('');
                    var pendapatan_debet = 0;
                    var pendapatan_kredit = 0;
                    $.each(r.DetailPendapatan, function (index, value) {
                        isetup.adddetailbodyPendapatan(
                            value.NoBuktiJurnal,
                            value.AkunNo,
                            value.Akun_Name,
                            value.Debet,
                            value.Kredit,
                            value.Keterangan
                        );
                        pendapatan_debet += value.Debet;
                        pendapatan_kredit += value.Kredit;
                    });
                    var pendapatan_tfoot = `<tr>
                                                <td colspan="3" style="width:300px;"></td>
                                                <td class="text-semibold" style="width:100px; text-align:right;">`+ getcurrencyfromfloat(pendapatan_debet) +`</td>
                                                <td class="text-semibold" style="width:100px; text-align:right;">`+ getcurrencyfromfloat(pendapatan_kredit) +`</td>
                                                <td style="width:100px;"></td>
                                            </tr>`;
                    $(t).find('.detailPendapatan tfoot').html(pendapatan_tfoot);


                    $(t).find('.detailTunai tbody').html('');
                    var tunai_debet = 0;
                    var tunai_kredit = 0;
                    $.each(r.DetailTunai, function (index, value) {
                        isetup.adddetailbodyTunai(
                            value.NoBuktiJurnal,
                            value.AkunNo,
                            value.Akun_Name,
                            value.Debet,
                            value.Kredit,
                            value.Keterangan
                        );
                        tunai_debet += value.Debet;
                        tunai_kredit += value.Kredit;
                    });
                    var tunai_tfoot = `<tr>
                                                <td colspan="3" style="width:300px;"></td>
                                                <td class="text-semibold" style="width:100px; text-align:right;">`+ getcurrencyfromfloat(tunai_debet) + `</td>
                                                <td class="text-semibold" style="width:100px; text-align:right;">`+ getcurrencyfromfloat(tunai_kredit) + `</td>
                                                <td style="width:100px;"></td>
                                            </tr>`;
                    $(t).find('.detailTunai tfoot').html(tunai_tfoot);

                    $(t).find('.detailPiutang tbody').html('');
                    $.each(r.DetailPiutang, function (index, value) {
                        isetup.adddetailbodyPiutang(
                            value.Nama_Customer,
                            value.NilaiPiutang,
                            value.Keterangan,
                            value.Akun_Name,
                            value.NoBuktiTransaksi
                        );
                    });
                    $(t).find('[type="button"].btn-custom').addClass("hide");
                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        NoBukti: t['NoBukti'].value
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alertpopup(r.Message);
            },
            setupready: function () {
                var t = isetup.form;

                if (t['_PROCESS'].value === 'DELETE') {
                    $(t).find('[type="submit"].btn-danger').focus();
                }
                if (t['_PROCESS'].value === 'VIEW') {
                    var Batal = $(t).find('[name="Batal"]').val();
                    var Posting = $(t).find('[name="Posting"]').val();

                    if (Batal != 1) {
                        if (Posting != 1) {
                            $(t).find('[type="submit"].btn-delete').removeClass("hide");
                            $(t).find('[type="button"].btn-success').removeClass("hide");
                        } else {
                            $(t).find('[type="button"].btn-danger').removeClass("hide");
                            $(t).find('[type="button"].btn-success').addClass("hide");
                        }
                    }
                }

                var Tanggal = $(t).find('[name="Tanggal"]').val();
                var Jam = $(t).find('[name="Jam"]').val();
                $(t).find('[name="Tanggal_Jam"]').val(Tanggal + " " + Jam);
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }
        });

        isetup.DetailKomponenClave = [];

        isetup.adddetailbodyPendapatan = (NoBuktiJurnal, AkunNo, Akun_Name, Debet, Kredit, Keterangan, hidedelete) => {
            var _detail = '';
            _detail += '<tr>';
            // input
            _detail += '<td><input type="text" class="form-control" value="' + NoBuktiJurnal + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + AkunNo + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + Akun_Name + '" /></td>';
            _detail += '<td><input type="text" class="form-control text-right debet" value="' + getcurrencyfromfloat(Debet) + '" /></td>';
            _detail += '<td><input type="text" class="form-control text-right kredit" value="' + getcurrencyfromfloat(Kredit) + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + Keterangan + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailPendapatan tbody').append(_detail);

            isetup.DetailKomponenClave.push({
                NoBuktiJurnal: NoBuktiJurnal,
                debet: new Cleave($(isetup.form).find('.detailPendapatan tbody tr:last .debet')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                kredit: new Cleave($(isetup.form).find('.detailPendapatan tbody tr:last .kredit')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });
        };

        isetup.adddetailbodyTunai = (NoBuktiJurnal, AkunNo, Akun_Name, Debet, Kredit, Keterangan, hidedelete) => {
            var _detail = '';
            _detail += '<tr>';
            // input
            _detail += '<td><input type="text" class="form-control" value="' + NoBuktiJurnal + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + AkunNo + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + Akun_Name + '" /></td>';
            _detail += '<td><input type="text" class="form-control text-right" value="' + getcurrencyfromfloat(Debet) + '" /></td>';
            _detail += '<td><input type="text" class="form-control text-right" value="' + getcurrencyfromfloat(Kredit) + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + Keterangan + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailTunai tbody').append(_detail);

        };

        isetup.adddetailbodyPiutang = (Nama_Customer, NilaiPiutang, Keterangan, Akun_Name, NoBuktiTransaksi, hidedelete) => {
            var _detail = '';
            _detail += '<tr>';
            // input
            _detail += '<td><input type="text" class="form-control" value="' + Nama_Customer + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + NilaiPiutang + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + Keterangan + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + Akun_Name + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + NoBuktiTransaksi + '" /></td>';
            _detail += '<td><input type="text" class="form-control" value="' + NoBuktiTransaksi + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailPiutang tbody').append(_detail);

        };

    });

    function posting(method = "POSTING") {
        loading(true);

        var id = $('[name="NoBukti"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Posting","PengakuanPendapatan")',
            data: {
                id: id,
                type: method
            },
            beforeSend: function (xhr) {

            },
            success: function (j) {
                var r = JSON.parse(j);

                if (r.IsSuccess) {

                    isetup.modal.modal('hide');
                    if (method == "CANCEL") {
                        alertpopup('Berhasil cancel posting', 'success');
                    } else {
                        alertpopup('Berhasil diposting', 'success');
                    }
                    itable.refresh();

                } else {
                    alertpopup(r.Message);
                }
                loading(false);
            }
        });
    }

</script>